.chechkout-section{

}
.shipping-address-form{
    height: 100vh;
    margin: auto;
    width: 50%;
    margin-top: 60px;
}
.shipping-address-form h2{
    text-align: center;
    font-size: 26px;
    padding-top: 40px;
    font-weight: 500;
    padding-bottom: 35px;
}
.personal-detail{}
.personal-detail h4, .shipping-address h4{
    margin-left: 16%;
    margin-bottom: 15px;
    font-size: 20px;
}
.personal-detail input, .shipping-address input{
    width: 70%;
    margin-left: 16%;
    padding: 8px 15px;
    margin-bottom: 20px;
}
.checkout-form button{
    text-align: center;
    background: #F7941D;
    padding: 10px 55px;
    border:none;
    margin-left: 35%;
    color: #fff;
    font-weight: 500;
}
.checkout-form button a{color: #fff;}